/* Farbmanagement auf basis von: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --primary-color: #e50914;
  --secondary-color: rgba(90, 90, 90, 0.6);
  --background-overlay: rgba(0, 0, 0, 0.8);
  --white-color: #ffffff;
  --light-grey: #e5e5e5;
  --menu-background: #0f0f0f;
  --color1: #ffffff;
}

/* Typografie und Farben */

@font-face {
  font-family: "Netflix Bold";
  src: url(/fonts/Netflix_Sans_Bold.otf);
}

@font-face {
  font-family: "Netflix Medium";
  src: url(/fonts/Netflix_Sans_Medium.otf);
}

@font-face {
  font-family: "Netflix Light";
  src: url(/fonts/Netflix_Sans_Light.otf);
}

h1,
h2,
h3,
h4,
p {
  color: var(--white-color);
}

h1 {
  font-family: "Netflix Bold";
}

h2 {
  font-family: "Netflix Medium";
}

p {
  font-family: "Netflix Light";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Empfehlung */

body.empfehlung-background {
  background-color: var(--background-overlay, black);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.empfehlung-background {
  padding: 10% 10%;
  overflow: hidden;
}

.dein-film {
  font-size: 4rem;
}

.filmtitel {
  font-size: 6rem;
  line-height: 7rem;
}

.empfehlung-content p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8rem;
  animation-delay: 0.1s;
}

.film-button1 {
  background-color: #e50914;
  color: #ffffff;
  padding: 0.625rem 1.25rem; 
  border: 0rem solid #e50914;
  font-family: Netflix Light;
  font-size: 2.5rem;
  text-decoration: none;
  margin-right: 2.5rem;
  border-radius: 0.313rem; 
  transition: background-color 0.3s ease; 
}

.film-button1:hover {
  background-color: var(--primary-color);
  border: rgba(229, 9, 20, 0);
}

.secondary-button {
  background-color: #fbd900;
  color: var(--background-color);
  font-family: Netflix Light;
  font-size: 2.5rem;
  text-decoration: none;
  border-radius: 0.313rem;
  transition: background-color 0.3s ease;
  padding: 0.625rem 1.25rem;
  white-space: nowrap;
}

.secondary-button:hover {
  background-color: #fbd900cb;
}

.lottie {
  position: fixed; 
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 99; 
}

@media only screen and (max-width: 1100px) {
  h1 {
    margin-top: 5rem; 
  }

  .empfehlung-background {
    padding: 10% 5%;
  }

  .dein-film {
    font-size: 2rem;
  }

  .filmtitel {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .empfehlung-content p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .film-button1,
  .secondary-button,
  .film-button3 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    display: block;
  }
}

@media only screen and (max-width: 400px) {

  h1 {
    margin-top: 3rem; 
  }

  .dein-film {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .filmtitel {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

}